@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --tile-size: 100px;
  --light-tile: #f0d8b6;
  --dark-tile: #b48764;
  --bg-color: #202020;
  --highlight: rgba(0, 0, 0, 0.1);
  --check: #feec48;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media all and (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --tile-size: 40px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  place-content: center;
  height: 100vh;
  background: var(--bg-color);
  font-family: "Sofia Sans", sans-serif;
  grid-template-columns: auto 220px;
}
button {
  background: var(--dark-tile);
  color: var(--light-tile);
  border: 0 none;
  padding: 10px 30px;
  margin: 10px 0;
  font-size: 1.1em;
}

.highlight {
  box-shadow: inset 0 0 0 4px rgba(0, 255, 0, 0.6)!important;
}

.attacking {
  box-shadow: inset 0 0 0 4px rgba(255, 0, 0, 0.7)!important;
}

.tile {
  position: relative;
}

.highlight::after {
  content: "";
  position: absolute;
  inset: 35%;
  border-radius: 50%;
  background: rgba(0, 255, 0, 0.4);
}

.attacking::after {
  content: "";
  position: absolute;
  inset: 10%;
  border-radius: 50%;
  border: 4px solid rgba(255, 0, 0, 0.7);
}

.check {
  box-shadow: inset 0 0 0 4px rgba(255, 0, 0, 0.8);
}
